
on post-fs

    # boot perf. tune
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "0 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "1 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "2 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "3 100"

on property:sys.boot_completed=1

    write /sys/devices/system/cpu/eas/enable 2
    write /proc/cpufreq/cpufreq_sched_disable 0
    write /proc/sys/kernel/sched_migration_cost_ns 200000
    write /proc/perfmgr/boost_ctrl/eas_ctrl/sched_big_task_rotation 1

    # restore perf. parameters
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "0 0"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "1 0"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "2 0"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "3 0"
    write /proc/perfmgr/boost_ctrl/cpu_ctrl/boot_freq "-1 -1 -1 -1 -1 -1"
    write /sys/devices/platform/boot_dramboost/dramboost/dramboost 0
